<h1>Questions</h1>
<% if notice %>
	<p id="notice"><%= notice %></p> 
<% end %>
<% @questions.each_with_index do |question, i| -%>
	<div class="<%= cycle("question", "question-alt") %>"><%= (i+1) %>. <%= question.name %></div>
<% end -%>
