<div id="question-form">
	<%= form_for :question do |form| %>
		<div id="errors">
			<% @question.errors.full_messages.each do |msg| %>
		      <%= msg %><br />
		   <% end %>
		</div>
		<div id="quesiton">
			<label for="question_question">Question:</label>
			<%= form.text_field :question, :size => 60 %>
		</div>
		<div  id="submit">
			<%= submit_tag "Submit Question", :class => "submit" %>
		</div>
	<%- end %>
</div>